<div class="container mx-auto">
  <ol class="flex items-center whitespace-nowrap p-4" aria-label="Breadcrumb">
    <li class="inline-flex items-center">
      <a class="flex items-center text-sm text-gray-500 hover:text-blue-600 focus:outline-none focus:text-blue-600 dark:focus:text-blue-500" routerLink="">
        Home
      </a>
      <svg class="flex-shrink-0 mx-2 overflow-visible h-4 w-4 text-gray-400 dark:text-neutral-600" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m9 18 6-6-6-6"/></svg>
    </li>
    <li class="inline-flex items-center">
      <a class="flex items-center text-sm text-gray-500 hover:text-blue-600 focus:outline-none focus:text-blue-600 dark:focus:text-blue-500" routerLink="/A">
        Bài viết
        <svg class="flex-shrink-0 mx-2 overflow-visible h-4 w-4 text-gray-400 dark:text-neutral-600" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m9 18 6-6-6-6"/></svg>
      </a>
    </li>
    <li class="inline-flex items-center text-sm font-semibold text-pink-600 truncate dark:text-gray-200" aria-current="page">
        Review ThinkPad E590 sau 4 năm sử dụng
    </li>
  </ol>

  <div class="text-left">
    <h1 class="mb-2 text-4xl font-bold tracking-tight text-pink-600 dark:text-white">Review ThinkPad E590 sau 4 năm sử dụng</h1>
  </div>
  <div class="lg:text-xl">
    <p>
      E590 là dòng ThinkPad giá rẻ thể hiện qua tiền tố “<span class="text-red-600 font-bold">E</span>”, bên cạnh có đó hậu tố
      “590” để thể hiện máy này có kích thước màn hình là 15.6″ và được sản xuất trong năm 2019.
    </p>
    <p>
      Trên thị trường, có nhiều máy tuy bề ngoài mang mã E590 nhưng cấu hình bên trong thì khác nhau từ CPU, VGA, dung
      lượng RAM, SSD.
    </p>
    <p class="text-xl">Cấu hình mà máy của tôi đang có:</p>
    <div class="flex flex-col">
      <div class="-m-1.5 overflow-x-auto">
        <div class="p-1.5 min-w-full inline-block align-middle">
          <div class="overflow-hidden">
            <table class="min-w-full divide-y divide-gray-200 dark:divide-gray-700">
              <tbody class="divide-y divide-gray-200 dark:divide-gray-700">
              <tr>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-gray-200">CPU</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800 dark:text-gray-200">Intel® Core™ i5-8265U</td>
              </tr>

              <tr>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-gray-200">Card đồ họa Onboard</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800 dark:text-gray-200">Intel® UHD Graphics 620</td>
              </tr>

              <tr>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-gray-200">Card đồ họa rời</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800 dark:text-gray-200">AMD Radeon RX 550X</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <h3 class="text-2xl">Ngoài ra Lenovo còn một vài option cấu hình khác, bạn có thể tham khảo tại đây:  <i class="fa-solid fa-file-pdf" style="color: #e04242;"></i><a href="assets/resource/ThinkPad_E590_Spec.pdf" target="_blank" class="text-red-500 hover:text-red-300">ThinkPad_E590_Spec.pdf</a></h3>

    <h2 class="text-3xl text-pink-600">Tôi dùng ThinkPad E590 vào việc gì?</h2>
    <h3 class="text-2xl text-blue-600 font-bold">&#9679; Lướt Web, xem Youtube</h3>
    <p>Máy trang bị màn hình 15.6″ cùng tấm nền IPS với độ phân giải FHD nên nhìn lâu cũng không mỏi mắt, điểm trừ là độ
      sáng màn hình còn thấp, maximum là 250 nits.</p>
    <h3 class="text-2xl text-blue-600 font-bold">&#9679; Coding</h3>
    <p>Tuy máy sử dụng chip U và sản xuất trên tiến trình 14nm nhưng lại dùng mượt mà với các IDE và các công cụ sau:</p>
    <div class="flex flex-col">
      <div class="-m-1.5 overflow-x-auto">
        <div class="p-1.5 min-w-full inline-block align-middle">
          <div class="overflow-hidden">
            <table class="min-w-full divide-y divide-gray-200 dark:divide-gray-700">
              <tbody class="divide-y divide-gray-200 dark:divide-gray-700">
              <tr>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-gray-200">Visual Studio 2019-2022</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800 dark:text-gray-200">
                  <img src="assets/images/Visual-Studio-Logo.png" alt="" class="object-fill w-12 h-9">
                </td>
              </tr>

              <tr>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-gray-200">JetBrains IntelliJ</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800 dark:text-gray-200">
                  <img src="assets/images/IntelliJ_IDEA_Icon.svg.png" alt="" class="object-fill w-12 h-12">
                </td>
              </tr>

              <tr>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-gray-200">JetBrains PhpStorm</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800 dark:text-gray-200">
                  <img src="assets/images/phpstorm_logo.png" alt="" class="object-fill w-12 h-12">
                </td>
              </tr>

              <tr>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-gray-200">JetBrains Rider</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800 dark:text-gray-200">
                  <img src="assets/images/rider_logo.png" alt="" class="object-fill w-12 h-12">
                </td>
              </tr>

              <tr>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-gray-200">ReSharper</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800 dark:text-gray-200">
                  <img src="assets/images/ReSharper_Icon.png" alt="" class="object-fill w-12 h-12">
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <h3 class="text-2xl text-blue-600 font-bold">&#9679; Gaming</h3>
    <p>
      May mắn là máy có trang bị VGA tuy không mạnh nhưng đủ chơi game trong vài giờ liền. Dưới đây sẽ là một số tựa
      game mà tôi thường chơi trên máy này:
    </p>
    <div class="flex flex-col">
      <div class="-m-1.5 overflow-x-auto">
        <div class="p-1.5 min-w-full inline-block align-middle">
          <div class="overflow-hidden">
            <table class="min-w-full divide-y divide-gray-200 dark:divide-gray-700">
              <tbody>
              <tr>
                <td>Genshin Impact</td>
                <td>
                  <img src="assets/images/Genshin_Impact_Logo.webp" alt="" class="object-fill h-32">
                </td>
              </tr>

              <tr>
                <td>NieR:Automata</td>
                <td>
                  <img src="assets/images/NierAutomata.webp" alt="" class="object-fill h-32">
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <h3 class="text-2xl text-blue-600 font-bold">&#9679; Distro Hopping</h3>
    <p>Rất may mắn là hầu như tất cả dòng máy ThinkPad đều tương thích tốt với Linux so với nhiều hãng laptop khác. Tôi
      chưa biết lý do vì sao Lenovo lại tối ưu tốt Linux cho dòng ThinkPad như vậy, có thể họ đã kế thừa ý chí của IBM
      chăng?</p>
    <p>Riêng ThinkPad E590 của tôi đã cài qua rất nhiều bản phân phối Linux (Linux distribution), sau đây là vài bản
      Linux nổi tiếng mà tôi đã trải nghiệm dùng trên ThinkPad E590: </p>
    <div class="flex flex-col">
      <div class="-m-1.5 overflow-x-auto">
        <div class="p-1.5 min-w-full inline-block align-middle">
          <div class="overflow-hidden">
            <table class="min-w-full divide-y divide-gray-200 dark:divide-gray-700">
              <tbody class="divide-y divide-gray-200 dark:divide-gray-700">
              <tr>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-gray-200">
                  <img src="assets/images/Ubuntu-Logo.png" alt="" class="object-fill md:w-1/2">
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-gray-200">
                  <img src="assets/images/Fedora_Logo.png" alt="" class="object-fill md:w-1/2">
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-gray-200">
                  <img src="assets/images/Red-Hat-logo.png" alt="" class="object-fill md:w-1/2">
                </td>
              </tr>
              <tr>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-gray-200">
                  <img src="assets/images/OpenSUSE_Logo.png" alt="" class="object-fill md:w-1/2">
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-gray-200">
                  <img src="assets/images/btw_i_use_arch.jpg" alt="" class="object-fill md:w-1/2">
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-gray-200">
                  <img src="assets/images/gentoo-linux-logo.png" alt="" class="object-fill md:w-1/2">
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-col md:flex-row">
      <div>
        <p>Vài năm trước, Windows đã tự biến mình thành một distro của Linux nhờ sự xuất hiện của Windows Subsystem for
          Linux (WSL). Windows chính là một phiên bản hoàn thiện nhất của Linux. (mấy anh fanboy Windows đừng quăng gạch em <span><img
            src="assets/emoji/big_smile.webp" alt=""></span>)</p>
        <p>Và ThinkPad E590 tương thích rất tốt với WSL.</p>
      </div>
      <div>
        <img src="assets/images/microsoftlovelinux.jpg" alt="" class="">
      </div>
    </div>
    <h2 class="text-3xl text-pink-600">Tình trạng máy sau 4 năm sử dụng</h2>
    <p>Cá nhân của tôi đánh giá đây là một cái máy rất trâu bò vì số giờ sử dụng mỗi ngày không dưới 10 tiếng chưa kể
      quãng đường di chuyển từ nơi này đến nơi khác rất dài.</p>
    <p>Mọi thứ trên máy: màn hình, bản lề, bàn phím, loa, cổng kết nối, trackpoint, trackpad, cảm biến vân tay, đèn bàn
      phím đều hoạt động tốt.</p>
    <hr style="margin-top: 1rem; margin-bottom: 1rem;border: 0; border-top: 2px solid rgba(0, 0, 0, 0.1);">

    <h4 class="text-2xl font-bold">Tình trạng pin</h4>
    <div class="flex flex-col-reverse md:flex-row gap-4">
      <div>
        <p>Đến thời điểm hiện tại thì nếu không cắm sạc thì máy chỉ trụ trong 1 tiếng rưỡi.</p>
      </div>
      <div>
        <img src="assets/images/Battery report.png" alt="" class="object-fill">
      </div>
    </div>
    <hr style="margin-top: 1rem; margin-bottom: 1rem;border: 0; border-top: 2px solid rgba(0, 0, 0, 0.1);">
    <h4 class="text-2xl font-bold">Tình trạng SSD</h4>
    <div class="flex flex-col md:flex-row gap-4">
      <div>
        <img src="assets/images/SSD_Report.png" alt="" class="">
      </div>
      <div>
        <p>Vì máy này sử dụng SSD M2 NVMe của WD Blue nên tôi sẽ dùng phần mềm của hãng tên là Western Digital Dashboard
          để check sức khỏe.</p>
        <p>Nếu bạn sử dụng SSD của hãng khác mà không có phần mềm check của hãng thì bạn có thể dùng CrystalDiskInfo để
          thay thế.</p>
      </div>
    </div>
    <h3>P/S: Tôi hài lòng với chiếc ThinkPad giá rẻ này, tôi tự hỏi rằng các dòng cao hơn như P, T, X sẽ bền hơn như thế
      nào nữa.</h3>
  </div>
  <hr style="height: 30px; background-color: red">
  <h1 class="text-4xl">Cập nhật tình hình của máy vào tháng 6 năm 2023</h1>
  <div class="flex flex-col md:flex-row gap-4">
    <div class="md:w-1/3">
      <img src="assets/images/20230729_162524.png" alt="" class="img-fluid">
    </div>
    <div class="md:w-2/3">
      <p>Pin bị hư khiến cho máy bị sập nguồn liên tục nên tôi phải tháo máy ra ngắt kết nối pin với mainboard và tháo
        pin ra để sử dụng bình thường.</p>
      <p>Tôi dự đoán lý do mà pin hỏng là do việc luôn cắm sạc đầy <span class="text-red-600 font-bold">100%</span>.
        Để gia tăng tuổi thọ cho pin thì bạn không nên sạc đầy 100% mà chỉ giữ tầm 70%-80% lượng điện trong pin thôi.
      </p>
      <p>Đối với ai xài laptop Lenovo nói chung và ThinkPad nói riêng thì nên cài đặt phần mềm Lenovo Vantage trong
        Microsoft Store để ngăn chặn pin sạc đầy 100%. <span class="text-red-600 font-bold">Lưu ý: </span>dường
        như không thể cài đặt phần mềm này trong bản Windows LTSC vì Microsoft Store không tồn tại trong bản Windows
        LTSC.</p>
      <img src="assets/images/LenovoVantage.png" alt="" class="img-fluid">
    </div>
  </div>
  <div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-6">Việc tìm mua pin để thay thế cũng không quá khó khăn bạn có thể lên Shopee để mua.</div>
  </div>
</div>


