<div class="container mx-auto">
  <ol class="flex items-center whitespace-nowrap p-4" aria-label="Breadcrumb">
    <li class="inline-flex items-center">
      <a class="flex items-center text-sm text-gray-500 hover:text-blue-600 focus:outline-none focus:text-blue-600"
         routerLink="">
        Home
      </a>
      <svg class="flex-shrink-0 mx-2 overflow-visible h-4 w-4 text-gray-400" xmlns="http://www.w3.org/2000/svg"
           width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
           stroke-linecap="round" stroke-linejoin="round">
        <path d="m9 18 6-6-6-6"/>
      </svg>
    </li>
    <li class="inline-flex items-center">
      <a class="flex items-center text-sm text-gray-500 hover:text-blue-600 focus:outline-none focus:text-blue-600"
         routerLink="/A">
        Bài viết
        <svg class="flex-shrink-0 mx-2 overflow-visible h-4 w-4 text-gray-400" xmlns="http://www.w3.org/2000/svg"
             width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
             stroke-linecap="round" stroke-linejoin="round">
          <path d="m9 18 6-6-6-6"/>
        </svg>
      </a>
    </li>
    <li class="inline-flex items-center text-sm font-semibold text-pink-600 truncate" aria-current="page">
      Góc chơi bút máy của tôi
    </li>
  </ol>

  <div class="text-left">
    <h1 class="mb-2 text-4xl font-bold tracking-tight text-pink-600">Pilot Kakuno - Cây viết máy yêu thích của tôi</h1>
  </div>

  <div>
    <div>
      <p class="leading-loose">Bắt đầu với việc dùng bút máy từ những năm học tiểu học để rèn chữ. Khi đó do điều kiện
        kinh tế hạn hẹp nên tôi chỉ được sử dụng những cây bút máy chỉ vài chục ngàn đồng, cảm nhận của tôi khi viết
        bằng những cây bút máy đó thì rất không thoải mái vì bút hay bị nghẹt mực, mực chảy ra không đều, nguyên nhân có
        thể là do chất lượng ngòi bút không cao kèm với việc sử dụng mực rẻ tiền. Dạo thời gian gần đây thì tôi đã tìm
        hiểu nghiêm túc lại bộ môn viết máy này từ trên Internet với những nguồn tham khảo chính là VOZ và Reddit thì
        tôi đã quyết định rước em Pilot Kakuno để làm người bạn đồng hành đầu tiên cho môn chơi này một cách nghiêm
        túc. </p>
    </div>

    <div class="mt-3 mb-6 lg:mt-6 lg:mb-6">
      <div>
        <p class="text-xl md:text-2xl lg:text-3xl font-bold">Thông tin sơ lược Pilot Kakuno </p>
      </div>

      <div>
        <div class="flex flex-col lg:flex-row">
          <div class="lg:w-2/3">
            <p>Pilot Kakuno hay Pilot Kaküno là một, trong đó kakuno là một từ tiếng Nhật (Katakana: カクノ, Kanji: 書くの)
              có nghĩa là viết. Còn chữ “ü” (u umlaut) trong từ kaküno chỉ đơn giản là thể hiện cho biểu tượng mặt cười
              trên ngòi bút rất đặc trưng mà chỉ có Pilot Kakuno mới có. </p>
            <ul class="none">
              <li>
                <pre>Chất liệu ngòi bút: thép không rỉ.</pre>
              </li>
              <li>
                <pre>Chất liệu thân bút và nắp: nhựa cứng.</pre>
              </li>
              <li>
                <pre>Các kích cỡ ngòi có thể lựa chọn: EF, F và M</pre>
              </li>
            </ul>
          </div>
          <div>
            <img src="/assets/images/8fe60e43a460804132708175587ce04a-2014397769.jpg" alt="" class="p-5">
          </div>
        </div>
      </div>
    </div>

    <div>
      <p class="text-xl md:text-2xl lg:text-3xl font-bold">Nhận xét về Pilot Kakuno</p>
    </div>
    <div class="leading-loose mb-3 md:mb-6">
      <p>Pilot Kakuno là một cây viết máy quốc dân dành cho nhiều newbie khi tiếp xúc với bộ môn viết máy. Tôi thích
        Kakuno bởi vì thiết kế bên ngoài khá là xinh xắn, trẻ trung và nhiều màu sắc tươi sáng cho các bạn tha hồ lựa
        chọn, riêng tôi thì tôi chọn em Kakuno có vỏ màu hồng nam tính. </p>
    </div>

    <div class="leading-loose mb-3 md:mb-6">
      <p>Em Kakuno đầu tiên của tôi sử dụng ngòi M thay vì ngòi F như nhiều người khuyến nghị, tôi thích ngòi M hơn
        ngòi F vì màu mực của ngòi M đậm hơn, chỉ có một điều mà tôi không thích ở ngòi M là sự hao mực của nó. Trung
        bình một ngày tôi viết một kín 1 tờ A4 thì chưa đầy 1 tuần thì tôi phải thay cartridge (ống mực) mới hay bơm mực
        cho converter (ống bơm mực). Nếu bạn dùng ngòi EF và F thì sẽ đỡ tốn mực hơn rất nhiều, cho nên bạn nên cân nhắc
        kỹ về điều này trước khi chọn cho mình 1 size ngòi phù hợp nhất cho bản thân. </p>
    </div>

    <div>
      <p class="leading-loose">Về cartridge của Kakuno, Kakuno sử dụng cartridge chuẩn riêng của hãng Pilot. Bên lề,
        ngoài cartridge theo chuẩn riêng của các hãng thì còn có loại international cartridge, bất kỳ cây bút nào có hỗ
        trợ international cartridge thì đều lắp vừa với loại cartridge này. Trở lại với cartridge của Kakuno nói riêng
        và Pilot nói chung thì tôi không hài lòng với cái thiết kế cartridge như thế, đôi khi tôi nghi ngờ hãng cố tình
        làm vậy để “hút máu” người dùng. Đó là lý do chủ yếu mà buộc tôi phải đầu tư converter thay vì dùng
        cartridge. </p>
    </div>

    <div class="flex flex-col lg:flex-row">

      <div>
        <p class="leading-loose">Về converter thì Pilot Kakuno tương thích tốt với Pilot CON-40 và Pilot CON-70.
          Converter mà tôi đang sử dụng là CON-70N, là phiên bản nâng cấp của CON-70 về hình dáng bên ngoài, tính năng
          bên trong thì điểm đặc biệt của CON-70N là dung tích chứa mực tối đa lên đến 1.1ml.</p>
      </div>

      <div>
        <img src="/assets/images/pilot_con70N.jpg" alt="Pilot CON-70N" class="md:size-2/3 mx-auto">
        <p class="text-center">Pilot CON-70N</p>
      </div>
    </div>
    <div>
      <p class="text-2xl">Những lý do mà tôi đầu tư converter thay vì dùng cartridge.</p>
      <ol class="list-disc leading-loose">
        <li> Lý do 1: Việc tái sử dụng cartridge của Pilot rất bất tiện. Nếu như international cartridge khi dùng hết
          mực xong thì ta chỉ cần lấy ống kim tiêm hút mực từ trong bình mực rồi bơm mực vào cartridge và tiếp tục sử
          dụng thì việc thao tác trên cartridge của Pilot khó khăn hơn tí, nếu bạn không cẩn thận thì sẽ xảy ra rò rỉ
          mực. Tôi xác định bản thân của tôi là người không có sự tỉ mỉ, khéo léo, tay chân vụng về nên tôi đã đầu tư
          converter để đổi lại sự tiện lợi khi nạp mực mới.
        </li>
        <li>Lý do 2: Hầu như ngày nào tôi cũng sử dụng bút cho việc ghi chép nên việc đầu tư converter để bơm mực cũng
          tiết kiệm tiền hơn là sử dụng cartridge về lâu dài. Thể tích mực trong mỗi ống cartridge của Pilot trong
          khoảng [0.8ml-0.9ml], có tất cả 5 ống trong 1 hộp. Do giá bán hộp cartridge và bình mực mỗi nơi khác nhau, tôi
          không tiện đem giá lên đây để nhân chia các kiểu, bạn có thể tính toán thử xem dùng cartridge hay converter
          bơm mực có hiệu quả kinh tế hơn. Lưu ý, mực mà tôi dùng ở đây là Pilot 30ml chứ không bàn đến mực đắt tiền như
          Pilot Iroshizuku.
        </li>
      </ol>
    </div>
    <div>
      <p class="leading-loose">Về mực thì tôi đang sử dụng lọ mực Pilot 30ml màu xanh đen. Tôi cũng đã phân vân đến việc
        có nên chọn mực Pilot Iroshizuku hay không. Tôi đã lên mạng đọc các bài so sánh mực thì tôi nhận ra là
        Iroshizuku đắt hơn mực Pilot thường vì Iroshizuku có sự đa dạng màu sắc hơn và chất mực có những hiệu ứng hơn
        mực Pilot 30ml. Tôi đã quyết định chỉ mua mực Pilot thường thôi vì yêu cầu ghi chép của tôi không đặt nặng tính
        thẩm mỹ, ưu tiên sự tiết kiệm tiền và mực Pilot 30ml kháng nước tốt hơn Pilot Iroshizuku. Tuy nhiên, tương lai
        có điều kiện kinh tế tốt hơn thì tôi sẽ sử dụng mực Iroshizuku cho trải nghiệm được phong phú hơn, hiện tại tôi
        đang nhắm đến màu mực Kon-peki của Iroshizuku.</p>
    </div>
  </div>

</div>
