<div class="container mx-auto">
  <ol class="flex items-center whitespace-nowrap p-4" aria-label="Breadcrumb">
    <li class="inline-flex items-center">
      <a class="flex items-center text-sm text-gray-500 hover:text-blue-600 focus:outline-none focus:text-blue-600" routerLink="">
        Home
      </a>
      <svg class="flex-shrink-0 mx-2 overflow-visible h-4 w-4 text-gray-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m9 18 6-6-6-6"/></svg>
    </li>
    <li class="inline-flex items-center">
      <a class="flex items-center text-sm text-gray-500 hover:text-blue-600 focus:outline-none focus:text-blue-600" routerLink="/A">
        Bài viết
        <svg class="flex-shrink-0 mx-2 overflow-visible h-4 w-4 text-gray-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m9 18 6-6-6-6"/></svg>
      </a>
    </li>
    <li class="inline-flex items-center text-sm font-semibold text-pink-600 truncate" aria-current="page">
      API Melafix
    </li>
  </ol>

  <div class="text-left">
    <h1 class="mb-2 text-4xl font-bold tracking-tight text-pink-600">Đôi điều về thuốc API Melafix</h1>
  </div>
  <p>API Melafix là thuốc chuyên trị các bệnh do vi khuẩn cho thủy, hải sản được chiết xuất từ cây tràm.</p>

  <div>
    <p>Tôi khá chắc chắn là chữ "Mela" trong Melafix là tiền tố của Melaleuca (chi Tràm), chi tiết hơn là <strong>Melaleuca
      leucadendra L. (tràm lá dài)</strong>.</p>
    <p>Hai hoạt chất có tác dụng kháng khuẩn và diệt khuẩn trong dầu tràm được báo cáo là: Eucalyptol & α-Terpineol (
      được
      biết là nó có khả năng ức chế virus H5N1).</p>
  </div>
  <div class="flex justify-center">
    <img src="assets/images/Melaleuca_leucadendra_-_Köhler–s_Medizinal-Pflanzen-092.jpg" alt="">
  </div>
  <div class="flex flex-col md:flex-row">
    <div class="w-2/3">
      <p>Đã có rất nhiều người đã hiểu lầm là sản phẩm thuốc này được chiết xuất từ lá trà do nhà sản xuất đã ghi
        "<strong>Melaleuca
          (tea tree)</strong>" nhưng không phải như vậy, mà "<strong>tea tree</strong>" ở đây là cây thuộc chi <strong>Tràm
          (Melaleuca)</strong> không phải là <strong>Trà</strong>
        của
        chi <strong>Chè (Camellia)</strong>.</p>
    </div>
    <div class="w-1/3">
      <img src="assets/images/Camellia.jpg" alt="">
    </div>
  </div>
</div>

