<div class="container mx-auto">
  <ol class="flex items-center whitespace-nowrap p-4" aria-label="Breadcrumb">
    <li class="inline-flex items-center">
      <a class="flex items-center text-sm text-gray-500 hover:text-blue-600 focus:outline-none focus:text-blue-600" routerLink="">
        Home
      </a>
      <svg class="flex-shrink-0 mx-2 overflow-visible h-4 w-4 text-gray-400" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m9 18 6-6-6-6"/></svg>
    </li>
    <li class="inline-flex items-center text-sm font-semibold text-pink-600 truncate" aria-current="page">
      Tài liệu
    </li>
  </ol>
  <div *ngFor="let i of document">
    <h4 class="text-xl"><i class="fa-solid fa-file-pdf" style="color: #e04242;"></i><a href="assets/resource/{{i.file_name}}" target="_blank" class="text-red-500 hover:text-red-300">{{i.file_name}}</a></h4>
  </div>
</div>
